.App {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0 auto;
  text-align: center; 
}

body {
  display: block; 
  min-width: 320px;
  min-height: 100vh;
  background-color: green;
  margin: 0;
}
